[submodule "deps/perpdex-oracle-contract"]
	path = deps/perpdex-oracle-contract
	url = https://github.com/perpdex/perpdex-oracle-contract.git
[submodule "deps/BokkyPooBahsRedBlackTreeLibrary"]
	path = deps/BokkyPooBahsRedBlackTreeLibrary
	url = https://github.com/perpdex/BokkyPooBahsRedBlackTreeLibrary.git
